In [1]:
import pandas as pd

df = pd.read_csv('../data/Health_AnimalBites.csv')
df

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
0,1985-05-05 00:00:00,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20 00:00:00,40229,NO,BODY,1985-05-05 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
1,1986-02-12 00:00:00,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaN,40218,NO,BODY,1986-02-12 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
2,1987-05-07 00:00:00,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
3,1988-10-02 00:00:00,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
4,1989-08-29 00:00:00,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,NaN,UNKNOWN,NaN,NaN,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8998,2017-09-05 00:00:00,DOG,NaN,NaN,NaN,NaN,NaN,40243,NaN,UNKNOWN,NaN,NaN,NaN,NaN,NaN
8999,2017-09-07 00:00:00,DOG,POMERANIAN,MALE,RED,NaN,NaN,40204,NaN,HEAD,NaN,NaN,NaN,NaN,NaN
9000,2017-09-07 00:00:00,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaN,47130,NaN,UNKNOWN,NaN,NaN,NaN,NaN,NaN
9001,2017-09-07 00:00:00,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaN,40229,NaN,BODY,NaN,NaN,NaN,NaN,NaN
9002,2017-09-07 00:00:00,DOG,BOXER,NaN,BRN BLK,NaN,NaN,40229,NaN,BODY,NaN,NaN,NaN,NaN,NaN

In [2]:
df.drop_duplicates(inplace=True)

In [3]:
# column to drop vaccination_yrs	vaccination_date	victim_zip	AdvIssuedYNDesc	WhereBittenIDDesc	quarantine_date	DispositionIDDesc	head_sent_date	release_date	ResultsIDDesc
df.drop(columns=['vaccination_yrs', 'vaccination_date', 'victim_zip', 'AdvIssuedYNDesc', 'WhereBittenIDDesc', 'quarantine_date', 'DispositionIDDesc', 'head_sent_date','release_date', 'ResultsIDDesc'], inplace=True)
df
df.dropna(inplace=True)
df
df.drop_duplicates(inplace=True)
df

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color
1153,2010-12-24 00:00:00,DOG,GERM SHEPHERD,UNKNOWN,BROWN/BLAC
1202,2011-01-11 00:00:00,DOG,DACHSHUND,MALE,RED
1208,2011-01-16 00:00:00,DOG,PIT BULL,UNKNOWN,BLK-WHITE
1239,2011-01-28 00:00:00,DOG,GERM SHEPHERD,MALE,BLACK
1244,2011-01-29 00:00:00,DOG,SHIH TZU,MALE,BEIGE-WHT
...,...,...,...,...,...
8995,2017-09-04 00:00:00,DOG,BLACK LAB,MALE,BLACK
8997,2017-09-06 00:00:00,DOG,CHICHAUHUA,FEMALE,TAN
8999,2017-09-07 00:00:00,DOG,POMERANIAN,MALE,RED
9000,2017-09-07 00:00:00,DOG,LABRADOR RETRIV,MALE,BROWN
9001,2017-09-07 00:00:00,DOG,LABRADOR RETRIV,FEMALE,BLK WHT