<h1 style = "color: white;">Creating dates and times using the Python datetime class</h1>

In [11]:
import pandas as pd
import numpy as np
import datetime
from datetime import date, datetime, time, timezone

In [12]:
# atleast 3 parametter (year, month day) 
datetime(2021, 7, 7)

datetime.datetime(2021, 7, 7, 0, 0)

In [13]:
# refer (year, month, day, hour, minute)
datetime(2021, 7, 7, 15, 50)

datetime.datetime(2021, 7, 7, 15, 50)

In [14]:
# comebine : createa datetime object using existing 'date' or 'time' objects
d = date(2021, 7, 7)
t = time(13, 26, 10)
datetime.combine(d, t)

datetime.datetime(2021, 7, 7, 13, 26, 10)

In [15]:
# current date and time with the local time zone
datetime.now(timezone.utc)

datetime.datetime(2024, 6, 27, 2, 45, 51, 458496, tzinfo=datetime.timezone.utc)

In [16]:
# determine the current date and time, "return only the date"
datetime.now().date()

datetime.date(2024, 6, 27)

In [17]:
# datertime the current date and time, "return only the time"
datetime.now().time()

datetime.time(9, 45, 52, 108246)

In [20]:
# pd.Timestamp()

pd.Timestamp('2017, 1, 15')

Timestamp('2017-01-15 00:00:00')

In [21]:
pd.Timestamp('12:00')

Timestamp('2024-06-27 12:00:00')

In [22]:
# pandas.Timedelta(avlue, unit=None, **kwargs) : 'Timedelta' aavilable both in Python 'datetime.timedelta' and in pandas.

#pandas.Timedelta(value , unit=None, **kwargs)

In [23]:
import pandas as pd
import datetime
from datetime import datetime

my_birth = datetime(1973, 7, 7)
today = datetime.today()
tomorrow = today + pd.Timedelta(days = 1)

print(tomorrow - my_birth)

18619 days, 10:04:07.161346

In [29]:
import pandas as pd
special_day = pd.Period('1973-7', freq = 'M')
special_day

Period('1973-07', 'M')

In [32]:
# pandas.Period() : has attributes for showing the start and end times.

print(special_day.start_time)
# return start time of the specify point

print(special_day.end_time)
# return end time of the specify point

1973-07-01 00:00:00
1973-07-31 23:59:59.999999999

In [33]:
n = special_day + 2

print(special_day)
print(n)

1973-07
1973-09

In [34]:
n.start_time, n.end_time

(Timestamp('1973-09-01 00:00:00'), Timestamp('1973-09-30 23:59:59.999999999'))