In [1]:
print("Hello World")

Hello World

CREATING, READING, WRITING, SECTION

Exercise on Kaggle 


1.
In the cell below, create a DataFrame fruits that looks like this:

Apples	Bananas
0	30	21

In [2]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruits.
import pandas as pd
fruits = pd.DataFrame({'Apples' : [30], 'Bananas': [21]})

# Check your answer
# q1.check()
fruits

   Apples  Bananas
0      30       21

2.
Create a dataframe fruit_sales that matches the diagram below:
	Apples	Bananas
2017 Sales	35	21
2018 Sales	41	34

In [3]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruit_sales.
fruit_sales = pd.DataFrame({'Apples': [35, 41], 'Bananas': [21, 34]}, index = ["2017 Sales", "2018 Sales"])

# Check your answer
# q2.check()
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

3.
Create a variable ingredients with a Series that looks like:

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: objects

In [ ]:
ingredients = pd.Series(["4 cups","1 cup", "2 large","1 can"], index= ['Flour', 'Milk', 'Eggs', 'Spam'], name= 'Dinner')
# Check your answer
# q3.check()
ingredients

In [ ]:
quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
recipe = pd.Series(quantities, index=items, name='Dinner')

4.
Read the following csv dataset of wine reviews into a DataFrame called reviews:

Image

The filepath to the csv file is ../input/wine-reviews/winemag-data_first150k.csv. The first few lines look like:

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,"This tremendous 100% varietal wine[...]",Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and[...]",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,,Tinta de Toro,Bodega Carmen Rodríguez

In [ ]:
reviews = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv", index_col = 0)
# Check your answer
# q4.check()
reviews

5.
Run the cell below to create and display a DataFrame called animals:

animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals
Cows	Goats
Year 1	12	22
Year 2	20	19

In the cell below, write code to save this DataFrame to disk as a csv file with the name cows_and_goats.csv.

In [4]:
# Your code goes here
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals.to_csv("cows_and_goats.csv")
# Check your answer
# q5.check()

INDEXING, SELECTING & ASSIGNING SECTION



import pandas as pd

reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

from learntools.core import binder; binder.bind(globals())
from learntools.pandas.indexing_selecting_and_assigning import *
print("Setup complete.")

1.
Select the description column from reviews and assign the result to the variable desc.

In [ ]:
# Your code here
desc = reviews.description

# Check your answer
# q1.check()
desc

2.
Select the first value from the description column of reviews, assigning it to variable first_description.

In [ ]:
first_description = reviews.loc[0, 'description']
# Check your answer
# q2.check()
first_description


Correct:

first_description = reviews.description.iloc[0]
Note that while this is the preferred way to obtain the entry in the DataFrame, many other options will return a valid result, such as reviews.description.loc[0], reviews.description[0], and more!

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expres

3.
Select the first row of data (the first record) from reviews, assigning it to the variable first_row.

In [ ]:
first_row =  reviews.iloc[0]

# Check your answer
# q3.check()
first_row

4.
Select the first 10 values from the description column in reviews, assigning the result to variable first_descriptions.

Hint: format your output as a pandas Series.

In [ ]:
first_descriptions = reviews.loc[0:9, 'description']

# Check your answer
# q4.check()
first_descriptions

Correct:

first_descriptions = reviews.description.iloc[:10]
Note that many other options will return a valid result, such as desc.head(10) and reviews.loc[:9, "description"].

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
                           ...                        
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, Length: 10, dtype: object

5.
Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_reviews.

In other words, generate the following DataFrame:

Image

In [ ]:
iii = [1, 2, 3, 5, 8]
sample_reviews = reviews.loc[iii]

# Check your answer
# q5.check()
sample_reviews

6.
Create a variable df containing the country, province, region_1, and region_2 columns of the records with the index labels 0, 1, 10, and 100. In other words, generate the following DataFrame:

Image

In [ ]:
title = ['country', 'province', 'region_1', 'region_2']
iii = [0, 1, 10, 100]
df = reviews.loc[iii , title]
# Check your answer
# q6.check()
df

Correct

country	province	region_1	region_2
0	Italy	Sicily & Sardinia	Etna	NaN
1	Portugal	Douro	NaN	NaN
10	US	California	Napa Valley	Napa
100	US	New York	Finger Lakes	Finger Lakes

7.
Create a variable df containing the country and variety columns of the first 100 records.

Hint: you may use loc or iloc. When working on the answer this question and the several of the ones that follow, keep the following "gotcha" described in the tutorial:

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. loc, meanwhile, indexes inclusively.

This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000. In this case df.iloc[0:1000] will return 1000 entries, while df.loc[0:1000] return 1001 of them! To get 1000 elements using loc, you will need to go one lower and ask for df.iloc[0:999].

In [ ]:
content = ['country', 'variety']

df = reviews.loc[:99, content]

# Check your answer
# q7.check()
df

Correct:

cols = ['country', 'variety']
df = reviews.loc[:99, cols]

or

cols_idx = [0, 11]
df = reviews.iloc[:100, cols_idx]


country	variety
0	Italy	White Blend
1	Portugal	Portuguese Red
...	...	...
98	Italy	Sangiovese
99	US	Bordeaux-style Red Blend

8.
Create a DataFrame italian_wines containing reviews of wines made in Italy. Hint: reviews.country equals what?

In [ ]:
italian_wines =reviews[reviews.country == 'Italy']

# Check your answer
# q8.check()

9.
Create a DataFrame top_oceania_wines containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [ ]:
top_oceania_wines = reviews.loc[
    (reviews.country.isin(['Australia', 'New Zealand'])) 
    & (reviews.points >= 95) ]

# Check your answer
# q9.check()
top_oceania_wines

SUMMARY FUNCTIONS AND MAPS

1.
What is the median of the points column in the reviews DataFrame?

In [ ]:
median_points = reviews.points.median()

2.
What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [ ]:
countries = reviews.country.unique()

3.
How often does each country appear in the dataset? Create a Series reviews_per_country mapping countries to the count of reviews of wines from that country.

In [ ]:
reviews_per_country = reviews.country.value_counts()
# Hint: To see a list of unique values and how often they occur in a Series, use the value_counts method.

4.
Create variable centered_price containing a version of the price column with the mean price subtracted.

(Note: this 'centering' transformation is a common preprocessing step before applying various machine learning algorithms.)

In [ ]:
centered_price = reviews.price - reviews.price.mean()


5.
I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset.

In [ ]:
bargain = (reviews.points / reviews.price).idxmax()
bargain_wine = reviews.loc[bargain, 'title']

6.
There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series descriptor_counts counting how many times each of these two words appears in the description column in the dataset. (For simplicity, let's ignore the capitalized versions of these words.)

In [ ]:
trop = reviews.description.map(lambda trop : "tropical" in trop).sum()
fruit = reviews.description.map(lambda fruit : "fruity" in fruit).sum()
descriptor_counts =  pd.Series([trop, fruit], index = ['tropical', 'fruity'])

7.
We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series star_ratings with the number of stars corresponding to each review in the dataset.

In [ ]:
def star (n):
    if n.country == 'Canada':
        return 3
    elif n.points >=95 :
        return 3
    elif n.points >= 85 :
        return 2
    else: 
        return 1
    
star_ratings = reviews.apply (star, axis = 'columns')
# Hint: Begin by writing a custom function that accepts a row from the DataFrame as input 
# and returns the star rating corresponding to the row. Then, use DataFrame.apply to apply the custom function to every row in the dataset.

GROUPING AND SORTING

1.
Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

In [ ]:
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()\
    # OR
reviews_written = reviews.groupby('taster_twitter_handle').size()


2.
What is the best wine I can buy for a given amount of money? Create a Series whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).

In [ ]:
best_rating_per_price = reviews.groupby('price') ['points'].max().sort_index()

3.
What are the minimum and maximum prices for each variety of wine? Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereof.

In [ ]:
price_extremes = reviews.groupby('variety').price.agg([min, max])

4.
What are the most expensive wine varieties? Create a variable sorted_varieties containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [ ]:
price_extremes = reviews.groupby('variety').price.agg([min, max])

sorted_varieties = price_extremes.sort_values(by = ['min', 'max'], ascending = False)


5.
Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the taster_name and points columns.

In [ ]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()


6.
What combination of countries and varieties are most common? Create a Series whose index is a MultiIndexof {country, variety} pairs. For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. Sort the values in the Series in descending order based on wine count.

In [ ]:
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending= False)
#  Hint: Use groupby(),
# and provide a list of columns to group by. You may also find size() and sort_values() to be useful!